@import './config.scss';
@import './components/components.scss';


html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background: $color-background;
    color: $color-text;
}

button,
input,
select {
    font: inherit;
}